.checkout{
    background-color: white;
    padding-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

.checkout-data{
    display: flex;
    margin: 25px 25px 25px 38.8%;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.checkout-total{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid rgba(124, 8, 8, 0.932);
    background-color: rgba(124, 8, 8, 0.932);
}

.form-container{
    padding: 50px;
}